body {
font-family: Arial, sans-serif;
text-align: center;
background-color: #ccb71a;
margin: 0;
padding: 50px 20px;
}


.center {
display: flex;
flex-direction: column;
align-items: center;
color: rgb(4, 3, 9);
}


input {
padding: 10px;
width: 250px;
font-size: 16px;
margin-bottom: 10px;
}


button {
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
margin-top: 25px;
transition: transform 1s;
color: rgb(1, 1, 4);

}
button:hover{
transform: scale(1,02);
}

#poster {
max-width: 300px;
cursor: pointer;
margin-top: 20px;
transition: transform 1s;
}


#poster:hover {
transform: scale(1.05);
}


#title {
font-size: 24px;
margin: 10px 0;
color: rgb(2, 3, 10);
}


#rating, #year, #genre {
font-size: 18px;
margin: 5px 0;
}


#plot {
max-width: 600px;
margin: 10px auto;
font-size: 16px;
line-height: 1.5;
}